:root {
  --color-white: #fff;
  --color-black: #242424;
  --color-gray: #cecece;
  --color-green: #c3f33b;
  --gradient-circle: linear-gradient(171deg, rgba(95, 56, 255, 0.25) 25.59%, rgba(255, 14, 222, 0.25) 100.44%);
  --gradient-circle-header: linear-gradient(171deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
  --gradient-circle-hero: linear-gradient(171deg, rgba(95, 56, 255, 0.55) 25.59%, rgba(255, 14, 222, 0.55) 100.44%);
}
