.benefits {
  &__section {
    padding-top: vw(130);
    padding-bottom: vw(150);
    position: relative;

    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 120px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0%;
      right: 18%;
      width: vw(440);
      height: vw(440);
      border-radius: vw(440);
      background: var(--gradient-circle);
      filter: blur(86px);

      @media (max-width: 768px) {
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -4%;
      right: 23%;
      width: vw(152);
      height: vw(152);
      background: url('./img/purple-circle-decor.png') no-repeat;
      background-size: contain;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: vw(65);
    color: var(--color-white);
    text-align: center;
    font-size: vw(45);
    font-weight: 600;
    line-height: 130%;
    position: relative;

    @media (max-width: 768px) {
      font-size: 23px;
      margin-bottom: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 11%;
      bottom: 60%;
      width: vw(84);
      height: vw(84);
      background: url('./img/blue-circle-decor.png') no-repeat;
      background-size: contain;

      @media (max-width: 768px) {
        width: 22px;
        height: 22px;
        left: -2%;
        bottom: -50%;
      }
    }
  }

  &__items {
    margin: 0 auto;
    max-width: vw(650);
    display: flex;
    flex-wrap: wrap;
    gap: vw(70) vw(50);

    &::before {
      content: '';
      position: absolute;
      left: 16%;
      bottom: 0%;
      width: vw(440);
      height: vw(440);
      border-radius: vw(440);
      background: var(--gradient-circle);
      filter: blur(86px);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      right: 26%;
      bottom: 11%;
      width: vw(132);
      height: vw(132);
      background: url('./img/purple-blur-circle-decor.svg') no-repeat;
      background-size: contain;

      @media (max-width: 1000px) {
        right: 7%;
        bottom: 5%;
      }

      @media (max-width: 768px) {
        width: 63px;
        height: 63px;
        right: 2%;
        bottom: 2%;
      }
    }

    @media (max-width: 1000px) {
      width: 650px;
      max-width: inherit;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      max-width: 50%;
      margin: 0 auto;
      gap: 52px;
    }

    @media (max-width: 500px) {
      max-width: 100%;
    }
  }

  &__item {
    max-width: vw(300);
    padding: vw(43) vw(20) vw(50);
    border-radius: vw(20);
    background: rgba(51, 62, 81);
    text-align: center;
    position: relative;

    @media (max-width: 1000px) {
      width: 300px;
      max-width: inherit;
    }

    @media (max-width: 768px) {
      min-width: 100%;
      padding: 48px 32px 47px;
      border-radius: 20px;
    }

    &-image {
      width: vw(117);

      @media (max-width: 768px) {
        width: 83px;
      }
    }

    &-text {
      color: var(--color-white);
      text-align: center;
      font-size: vw(19);
      font-weight: 400;
      line-height: vw(25);
      letter-spacing: -0.7px;

      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: -0.7px;
      }
    }

    &-decor {
      position: absolute;
      border-radius: vw(20);
      background: rgba(51, 62, 81, 0.6);
      width: vw(260);
      height: vw(260);
      top: 16%;
      left: 6%;
      z-index: -1;

      @media (max-width: 1000px) {
        width: 260px;
        top: 0;
      }

      @media (max-width: 768px) {
        width: 90%;
        height: 90%;
        top: 20%;
        left: 5%;
        border-radius: 20px;
      }
    }
  }
}
