.header {
  padding-top: vw(32);
  position: relative;

  @media (max-width: 500px) {
    padding-top: vw(20);
  }

  &__circle {
    position: absolute;
    border-radius: 415px;
    background: var(--gradient-circle-header);
    filter: blur(86px);
    width: vw(415);
    height: vw(415);
    left: 5%;
    bottom: -177%;

    @media (max-width: 768px) {
      left: 0;
      bottom: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    &-btn {
      position: relative;
      width: 40px;
      height: 61px;
      background: linear-gradient(to right, #fbf7fe 0%, #fbf7fe 100%);
      background-size: 40px 3px;
      background-position: center center;
      background-repeat: no-repeat;
      transition: 0.2s background;
      border-radius: 10px;
      display: none;
      z-index: 6;

      @media (max-width: 768px) {
        display: block;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 29%;
        left: 0;
        width: 40px;
        height: 3px;
        background: #fbf7fe;
        transition: 0.2s transform;
        transform-origin: 8px 7px;
        border-radius: 10px;
      }

      &.is-open {
        background-size: 0px 2px;
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
          top: 56%;
          left: 21%;
        }
      }
    }
  }

  &__logo {
    width: vw(128);

    img {
      width: 100%;
    }

    @media (max-width: 768px) {
      width: 90px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: vw(150);

    &--mobile-logo {
      display: none;

      @media (max-width: 768px) {
        display: block;
        width: 89px;
        margin-bottom: 50px;
      }
    }

    &-links {
      display: flex;
      gap: vw(105);

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 90px;
      }
    }

    &-link {
      color: var(--color-gray);
      font-size: vw(23);
      font-weight: 400;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 23px;
      }
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: 768px) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 4;
      padding: 20px 70px 60px 20px;
      flex-direction: column;
      align-items: flex-start;
      transition: opacity 0.3s, visibility 0.3s;
      border-radius: 0px 0px 0px 30px;
      background: #293344;
    }
  }

  &__link {
    padding: vw(16) vw(22);
    color: var(--color-white);
    font-size: vw(16);
    font-weight: 500;
    border-radius: vw(15);
    border: 1px solid var(--color-white);
    transition: color 0.3s, border 0.3s;

    &:hover {
      color: var(--color-green);
      border: 1px solid var(--color-green);
    }

    @media (max-width: 768px) {
      padding: 16px 22px;
      font-size: 16px;
    }
  }
}
