.hero {
  &__section {
    margin-top: vw(218);
    margin-bottom: vw(135);

    @media (max-width: 768px) {
      margin-top: 48px;
      margin-bottom: 50px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__info {
    position: relative;

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &-img--mobile {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: -8%;
      right: 20%;
      background: url('./img/green-circle-decor.png') no-repeat;
      background-size: contain;
      width: vw(87);
      height: vw(87);
      filter: blur(2px);

      @media (max-width: 768px) {
        display: none;
      }
    }

    &-title {
      margin-bottom: vw(20);
      color: var(--color-white);
      font-size: vw(72);
      font-weight: 400;
      line-height: 105%;
      letter-spacing: -2.16px;

      span {
        font-weight: 700;
      }

      @media (max-width: 768px) {
        text-align: center;
        font-size: 23px;
        letter-spacing: -0.75px;
        margin-bottom: 16px;
      }
    }

    &-subtitle {
      color: var(--color-gray);
      font-size: vw(23);
      font-weight: 400;
      line-height: 120%;
      margin-bottom: vw(67);

      @media (max-width: 768px) {
        text-align: center;
        font-size: 18px;
        margin-bottom: 40px;
      }
    }

    &-button {
      padding: vw(20) vw(30);
      color: #242424;
      text-align: center;
      font-family: GT Walsheim Pro;
      font-size: vw(20);
      font-weight: 500;
      line-height: 130%;
      border-radius: vw(20);
      background: linear-gradient(93deg, #1dd844 1.44%, #cbf62e 126.29%);
      box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
      
      @media (max-width: 768px) {
        padding: 15px 30px;
        border-radius: 15px;
        font-size: 16px;
      }
    }
  }

  &__image {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 26%;
      left: -7%;
      background: url('./img/lightning-decor.png') no-repeat;
      background-size: contain;
      width: vw(34);
      height: vw(60);
      animation: bobbing 2s infinite;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__img {
    width: vw(557);
    animation: bobbing 2s infinite;

    @media (max-width: 768px) {
      display: none;
    }

    @keyframes bobbing {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-5px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  &__circle {
    position: absolute;
    width: vw(475);
    height: vw(475);
    top: 10%;
    right: 10%;
    z-index: -1;
    border-radius: vw(475);
    background: var(--gradient-circle-hero);
    filter: blur(86px);

    @media (max-width: 768px) {
      display: none;
    }
  }
}
